{% extends "base-profile.html" %}

{% block javascripts %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    body {
      background-color: white;
    }
    .container {
      margin-top: 50px;
    }
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    label {
      font-weight: bold;
    }
    .form-control {
      border-radius: 0;
    }
    .btn-primary {
      border-radius: 0;
    }
  </style>
{% endblock %}

{% block title %}Update Profile{% endblock%}


{% block maincontent %}

<div class="container">
    <h1>Update Password</h1>
    <div>
        {% if messages %}
          <span class="">
            {% for message in messages %}
              <p style="color: red; font-size: smaller; text-align: center; font-weight: bold;">{{ message }}</p>    
            {% endfor %}
          </span>
      {% endif %}
    </div>
    <form method="post">
      {% csrf_token %}
  
      <div class="form-group">
        <label for="password">Enter Current Password: </label>
        <input type="password" class="form-control" id="password" name="password" value="{{ password }}" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="togglePassword">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Enter New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" value="{{ password }}" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="togglePassword1">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Confirm New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{ password }}" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="togglePassword2">
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
  
      <br>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <script>
    document.getElementById("togglePassword").addEventListener("click", function() {
      var passwordInput = document.getElementById("password");
      var eyeIcon = this.querySelector("i");
  
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      }
    });

    document.getElementById("togglePassword1").addEventListener("click", function() {
      var passwordInput = document.getElementById("new_password");
      var eyeIcon = this.querySelector("i");
  
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      }
    });

    document.getElementById("togglePassword2").addEventListener("click", function() {
      var passwordInput = document.getElementById("confirm_password");
      var eyeIcon = this.querySelector("i");
  
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      }
    });
  </script>

{% endblock %}